.each{
    font-size: 50px;
    position: relative;
    padding-top: 5%;
    margin-left:5%;
}

.picture{
    background-repeat:no-repeat;
    background-size: cover;
    width:100%;
    height:95.3Vh;
}